{% extends 'main.html' %}

{% block content %}
    <div class="container">
        <div class="row s5 m5">

            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/static/images/finanzbranch.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Finanz<i
                                class="material-icons right">Analyse</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Finanz</span>
                        <img src="/static/graphen/tabellen/bild91.png"
                             style="margin-left: 2cm;width: 400px; height: 340px">
                        <img src="/static/graphen/tabellen/bild92.png"
                             style="margin-left: 2cm;width: 400px; height: 340px">

                        <p style="margin-left: 2cm">Standardabweichung : 185%</p>
                        <p style="margin-left: 2cm">t-Test: </p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/static/images/finanzbranch.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Finanz t-Test<i
                                class="material-icons right">Analyse</i></span>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Finanz</span>
                        <img src="/static/graphen/finanz.jpg"
                             style="margin-left: 1cm; margin-top:1cm; width: 450px; height: 300px">

                        <div style="margin-left: 1cm">
                            <h6>t-Test:</h6>
                            <p>H0 = Data Breaches haben keinen Effekt auf die Tweetsänderung</p>
                            <p>t-Statistik > 0 heißt, dass der erste Mittelwert(vor DB) größer als zweiter
                                Mittelwert(nach
                                DB)</p>
                            <p>Mit t-Test wird es getestet, ob dieser Unterschiedbetrag zwischen vor DB und nach DB
                                zufällig
                                ist.</p>
                            <p>1- Um H0 zu verwerfen muss der Wert von t-Statistik größer als kritischen t-Wert bei
                                einseitigem
                                t-Test sein</p>
                            <p>2- P(T<=t) einseitig muss kleiner als 0,05 sein damit H0 verwenden werden kann.</p>
                            <p>In Finanzbranche da die Annahmen nucht getroffen sind, kann H0 nicht verwerfen
                                werden.</p>
                        </div>


                    </div>
                </div>
            </div>

        </div>
        <div class="row s5 m5">
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/static/images/techbranch.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Technologie<i
                                class="material-icons right">Analyse</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Technologie</span>
                        <img src="/static/graphen/tabellen/bild121.png"
                             style="margin-left: 2cm;width: 400px; height: 340px">
                        <img src="/static/graphen/tabellen/bild122.png"
                             style="margin-left: 2cm;width: 400px; height: 340px">
                        <p style="margin-left: 2cm">Standardabweichung : 26,80%</p>
                        <p style="margin-left: 2cm">t-Test: </p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/static/images/retailbranch.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Retail<i
                                class="material-icons right">Analyse</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Retail</span>
                        <img src="/static/graphen/tabellen/bild111.png"
                             style="margin-left: 2cm;width: 400px; height: 340px">
                        <img src="/static/graphen/tabellen/bild112.png"
                             style="margin-left: 2cm;width: 400px; height: 340px">
                        <p style="margin-left: 2cm">Standardabweichung : 62,92%</p>
                        <p style="margin-left: 2cm">t-Test: </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row s5 m5">
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/static/images/hotelbranch.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Hotel & Transportbranche <i
                                class="material-icons right">Analyse</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Hotel & Transportbranche </span>
                        <img src="/static/graphen/tabellen/bild131.png"
                             style="margin-left: 2cm;width: 400px; height: 340px">
                        <img src="/static/graphen/tabellen/bild132.png"
                             style="margin-left: 2cm;width: 400px; height: 340px">
                        <p style="margin-left: 2cm">Standardabweichung : 51,31%</p>
                        <p style="margin-left: 2cm">t-Test: </p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/static/images/gesundheitbranch.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Gesundheit<i
                                class="material-icons right">Analyse</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Gesundheit</span>
                        <img src="/static/graphen/tabellen/bild101.png"
                             style="margin-left: 2cm;width: 400px; height: 340px">
                        <img src="/static/graphen/tabellen/bild102.png"
                             style="margin-left: 2cm;width: 400px; height: 340px">
                        <p style="margin-left: 2cm">Standardabweichung : 32,31%</p>
                        <p style="margin-left: 2cm">t-Test: </p>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}