{% extends 'main.html' %}

{% block content %}
    <div class="container">
        <div class="row s5 m5">
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/static/images/finanzbranch.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Finanz<i
                                class="material-icons right">Analyse</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Finanz</span>
                        <img class="activator" src="/static/images/gesundheitbsptabelle.png">
                        <p style="color: black">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an unknown printer took a galley of type and scrambled it to make a type specimen book. It
                            has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release of
                            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy
                            text of the printing and typesetting industry. Lorem Ipsum has been the i</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/static/images/techbranch.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Technologie<i
                                class="material-icons right">Analyse</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Card Title</span>
                        <img class="activator" src="/static/images/gesundheitbsptabelle.png">
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row s5 m5">
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/static/images/retailbranch.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Retail<i
                                class="material-icons right">Analyse</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Card Title</span>
                        <img class="activator" src="/static/images/gesundheitbsptabelle.png">
                        <p>Here is some more information about this product that is only revealed once
                            clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/static/images/hotelbranch.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Hotel & Transportbranche <i
                                class="material-icons right">Analyse</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Card Title</span>
                        <img class="activator" src="/static/images/gesundheitbsptabelle.png">
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row s5 m5">
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/static/images/gesundheitbranch.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Gesundheit<i
                                class="material-icons right">Analyse</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Card Title</span>
                        <img class="activator" src="/static/images/gesundheitbsptabelle.png">
                        <p>Here is some more information about this product that is only revealed once
                            clicked on.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}