{% extends 'main.html' %}

{% block content %}
    <div class="container">
        <div class="row s5 m5">

            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/static/images/0-5000.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">0-5000<i
                                class="material-icons right">Analyse</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>0-5000</span>
                        <img src="/static/graphen/tabellen/bild141.png"
                             style="margin-left: 2cm;width: 400px; height: 340px">
                        <img src="/static/graphen/tabellen/bild142.png"
                             style="margin-left: 2cm;width: 400px; height: 340px">

                        <p style="margin-left: 2cm">Standardabweichung : 141,56%</p>
                        <p style="margin-left: 2cm">t-Test: </p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/static/images/5001-50000.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">5001-50000<i
                                class="material-icons right">Analyse</i></span>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>5001-50000</span>
                        <img src="/static/graphen/tabellen/bild151.png"
                             style="margin-left: 2cm;width: 400px; height: 340px">
                        <img src="/static/graphen/tabellen/bild152.png"
                             style="margin-left: 2cm;width: 400px; height: 340px">

                        <p style="margin-left: 2cm">Standardabweichung : 64,48%%</p>
                        <p style="margin-left: 2cm">t-Test: </p>


                    </div>
                </div>
            </div>

        </div>
        <div class="row s5 m5">

            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/static/images/50001+.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">50000+<i
                                class="material-icons right">Analyse</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>50000+</span>
                        <img src="/static/graphen/tabellen/bild161.png"
                             style="margin-left: 2cm;width: 400px; height: 340px">
                        <img src="/static/graphen/tabellen/bild162.png"
                             style="margin-left: 2cm;width: 400px; height: 340px">

                        <p style="margin-left: 2cm">Standardabweichung : 70,29%</p>
                        <p style="margin-left: 2cm">t-Test: </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}