{% extends 'main.html' %}

{% block content %}
    <div class="container">
        <h2 style="text-align: center">Zusammenfassung aller Unternehmen</h2>
        <h5 style="text-align: center; margin-top: 2cm">Prozentuale Aktivitätsänderungen</h5>
        <img style="width: 34cm;height: 20cm; margin-top: 1cm" src="/static/graphen/tabellen/bild1.png">

        <h5 style="text-align: center; margin-top: 2cm">Box-Plot der Unternehmen mit gesteigerter (links) und gesenkter
            (rechts) Aktivität</h5>
        <div class="row">
            <img style="width: 16.85cm;height: 17cm; margin-top: 1cm" src="/static/graphen/tabellen/bild2.png">
            <img style="width: 16.85cm;height: 17cm; margin-top: 1cm" src="/static/graphen/tabellen/bild3.png">

        </div>
        <div class="row">
            <img style="width: 16.85cm;height: 17cm; margin-top: 1cm" src="/static/graphen/tabellen/bild4.png">
            <img style="width: 16.85cm;height: 17cm; margin-top: 1cm" src="/static/graphen/tabellen/bild5.png">

        </div>
        <h5 style="text-align: center; margin-top: 2cm">Vergleich von Frequenzen</h5>
        <h6 style="text-align: center; margin-top: 2cm">1. Zeitraum(0-10)</h6>
        <div class="row">
            <img style="width: 16.85cm;height: 17cm; margin-top: 1cm" src="/static/graphen/tabellen/bild61.png">
            <img style="width: 16.85cm;height: 17cm; margin-top: 1cm" src="/static/graphen/tabellen/bild62.png">
        </div>
        <h6 style="text-align: center; margin-top: 2cm">2. Zeitraum(10-20)</h6>
        <img style="width: 16.85cm;height: 17cm; margin-top: 1cm" src="/static/graphen/tabellen/bild72.png">
        <img style="width: 16.85cm;height: 17cm; margin-top: 1cm" src="/static/graphen/tabellen/bild71.png">
        <h6 style="text-align: center; margin-top: 2cm">3. Zeitraum(20-30)</h6>
        <img style="width: 34cm;height: 20cm; margin-top: 1cm" src="/static/graphen/tabellen/bild8.png">


    </div>


{% endblock %}